/* You can add global styles to this file, and also import other style files */

/* Add any global styles here */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
}

/* You may want to add more global styles as needed during the migration process */